@page "/ecosistema"
@using Dominio.Entidades;
@using Dominio.Interfaces;
@using GeneticEvoBlazor.Components

@inject Mundo mundo
@inject IMundoServicos IMundoServicos;

<h1>Individuos</h1>

<p>Veja todos indivudos no seu mundo atual.</p>
<button class="btn btn-primary" @onclick="ProxGeracao">Prox. Geracao</button>

@if (EspecieList == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>N° Caracteristicas</th>
                <th>Vivos</th>
                <th>Mortos</th>
                <th>Funções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Individuo individuo in EspecieList.DistinctBy(x => x.Especie))
            {
                <tr>
                    <td>@individuo.Nome</td>
                    <td>@individuo.Caracteristicas.Count</td>
                    <td>@EspecieList.Where(x => x.Especie == individuo.Especie && x.Vivo).Count()</td>
                    <td>@EspecieList.Where(x => x.Especie == individuo.Especie && !x.Vivo).Count()</td>
                    <td><button class="btn btn-primary" @onclick="(() => MostrarDetalhes(individuo))"><span class="oi oi-eye" aria-hidden="true"/></button></td>
                </tr>

                @if (Detalhar && individuo == IndividuoSelecionado)
                {
                    <tr>
                        <td colspan="5">
                            <TabelaPorEspecie EspecieList="@EspecieList.Where(x => x.Especie == individuo.Especie  && x.Vivo).ToList()" />
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    private List<Individuo> EspecieList = new List<Individuo>();
    private bool Detalhar = false;
    Individuo IndividuoSelecionado;

    protected override async Task OnInitializedAsync()
    {
        EspecieList = mundo.EspecieList;
    }
    private void ProxGeracao()
    {
        IMundoServicos.AvancaGeracao(mundo);
    }
    private void MostrarDetalhes(Individuo individuo)
    {
        if (IndividuoSelecionado == individuo)
        {
            Detalhar = !Detalhar;
        }
        else
        {
            Detalhar = true;
            IndividuoSelecionado = individuo;
        }
    }
}